.navbar{
  background-color: #12355b;

}
/* .form-inline{
} */

body{
  background-color: #001514;

}
ul{
  display: flex;
  flex-direction: row;

}

li{
  display: list-item;
  margin-right: 5px;

}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.form-inline{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  margin-top: 5px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
}

.btn-outline-success {
    color: white;
    background-color: #8c271e;
    background-image: none;
    border-color: white;
}
/* .navbar-default .navbar-toggle .navbar-toggle-icon {
    color: : white;
} */
.navbar-dark .navbar-toggler .nav-link{
    color: #8c271e;
    border-color: rgba(0,0,0,.1);
}

.navbar-toggler.navbar-toggler-icon{
  color: yellow;
}


h1 {
  font-family: sans-serif,cursive;
  color: #8c271e;
  text-align: center;

}

.card .card-body{
  background-color: #12355b;
}

.card .card-body .card-title{
  color: white;
}
